nav 
    {
        background-color: #333;
        color: #fff;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    footer
     {
        width: 100%;
        background-color: #000;
        color: #fff;
        height: 300px;
        padding-top: 10px;
     }